services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d db"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    restart: always
    volumes:
      - ./tests:/code/tests
      - ./app:/code/app
    env_file:
      - ./.env
    ports:
      - "8000:80"
    command: >
      sh -c "alembic upgrade head && 
             gunicorn -k uvicorn.workers.UvicornWorker app.main:app -w 4 -b 0.0.0.0:80"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: