# .github/workflows/ci.yml
    name: Build and Test API
    on:
      push:
        branches: [ "main" ]
      pull_request:
        branches: [ "main" ]
    
    jobs:
      build-and-test:
        runs-on: ubuntu-latest
        
        steps:
          - name: Check out code
            uses: actions/checkout@v4
    
          - name: Create .env file
            run: |
              echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
              echo "TEST_DATABASE_URL=${{ secrets.TEST_DATABASE_URL }}" >> .env
              echo "JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}" >> .env
              echo "JWT_ALGORITHM=${{ secrets.JWT_ALGORITHM }}" >> .env
              echo "STRIPE_SECRET_KEY=${{ secrets.STRIPE_SECRET_KEY }}" >> .env
              echo "STRIPE_WEBHOOK_SECRET=${{ secrets.STRIPE_WEBHOOK_SECRET }}" >> .env
    
          - name: Build and run services
            run: docker compose up --build -d
    
          - name: Wait for database
            run: sleep 10
    
          - name: Run tests
            run: docker compose exec app pytest -v